

    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;

        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    :root {
        --hover-color: #fda4af;
        --background-color: #6f9e9e;
    }

    main {
        display: grid;
        grid-template-columns: 300px 800px;
        grid-template-rows: 100px 600px;
    }

    .subHeadContainer {
        grid-area: 1 / 1 / 2 / 4;
        
    }

    #contentDisplayContainer {
     display: grid;
             grid-area: 1 / 1 / 2 / 4;

    }


    svg {
        width: 30px;
    }
    

  