@media (max-width: 500px) {

#root main {
  display: flex;
  flex-direction: column;
}

body {
  display: block;
      
             background-color: white;
    }

    main header {
      padding: 10px 20px;
    }
    
    aside#sideBar {
      display: none;
    }
    
    div#displayContentContainer {
      display: flex;
      flex-direction: column;
    }
    
    div.displayContentSubContainer {
      padding: 0;
    }
    

    
    

}    

